<% add_decidim_page_title(t("admin.show.title", scope: "decidim.file_authorization_handler")) %>

<div class="card">
  <div class="item_show__header item_show__header--with-action-options">
    <h1 class="item_show__header-title">
      <%= t("admin.show.title", scope: "decidim.file_authorization_handler") %>
      <%= link_to t("admin.show.import_csv", scope: "decidim.file_authorization_handler"), new_censuses_path, class: "button button__sm button__transparent-secondary" %>
      <% if @status.count > 0 %>
        <%= link_to t("admin.destroy.title", scope: "decidim.file_authorization_handler"),
          censuses_path,
          method: :delete,
          class: "button button__sm button__secondary alert hollow tiny button--title destroy",
          data: { confirm: t("admin.destroy.confirm", scope: "decidim.file_authorization_handler") } %>
      <% end %>
    </h1>
  </div>
  <div class="card-section p-4">
    <% if @status.count > 0 %>
      <p><%= t("admin.show.data", scope: "decidim.file_authorization_handler", count: @status.count,
        due_date: l(@status.last_import_at, format: :long)) %>
      </p>
    <% else %>
      <p><%= t("admin.show.empty", scope: "decidim.file_authorization_handler") %></p>
    <% end %>
  </div>
</div>
