<% add_decidim_page_title(t("admin.show.title", scope: "decidim.file_authorization_handler")) %>

<div class="card">
  <div class="card-section p-4">
    <div class="item_show__header">
      <h1 class="item_show__header-title">
        <%= t("admin.show.title", scope: "decidim.file_authorization_handler") %>
        <% if @status.count > 0 %>
          <%= link_to t('decidim.file_authorization_handler.admin.destroy.title'),
            censuses_path,
            method: :delete,
            class: 'button button__sm button__secondary alert hollow tiny button--title destroy',
            data: { confirm: t('decidim.file_authorization_handler.admin.destroy.confirm') } %>
        <% end %>
      </h1>
    </div>
    <% if @status.count > 0 %>
      <p><%= t('decidim.file_authorization_handler.admin.show.data', count: @status.count,
        due_date: l(@status.last_import_at, format: :long)) %>
      </p>
    <% else %>
      <p><%= t('admin.show.empty', scope: 'decidim.file_authorization_handler') %></p>
    <% end %>
  </div>

  <div id="wrapper-action-view">
    <div class="card-section p-4">
      <div class="item_show__header">
        
        <h1 class="item_show__header-title">
          <%= t("admin.new.title", scope: "decidim.file_authorization_handler") %><div class="card-section p-4">
        </h1>
      </div>

      <%= render "upload_info" %>

      <%= form_tag censuses_path, multipart: true, class: 'form' do %>
        <%= label_tag :name, t('admin.new.file', scope: 'decidim.file_authorization_handler') %>
        <%= file_field_tag :file %>
        <%= submit_tag t('admin.new.submit', scope: 'decidim.file_authorization_handler'), class: 'button button__sm button__secondary hollow tiny button--title' %>
      <% end %>
    </div>
  </div>
</div>
